* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}
/* NavBar Style*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    
    width: 1399px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 12px;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    font-family: "Host Grotesk", sans-serif;
}

.nav-btn{
    background-color: #E8BA2E;
    width: 152px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 8px 12px 24px;
    gap: 12px;
    color: #000102;
    font-size: 16px;
    font-weight: 600;
    font-style: bold;
    font-family: "Host Grotesk", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.nav-btn img{
    width: 24px;
    height: 24px;
    display: block;
}

/*Hero Section Style*/

.hero {
    
    height: 786px;
    width: 1408px;
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    
}

.hero-content h1{
 color: white;
 font-family: "Host Grotesk", sans-serif;
 font-size: 88px;
 font-style: bold;
 line-height: 100%;
 padding-top: 248px;
 padding-left: 44px;
}

.hero-content p{
    color: #FFFFFF;
    font-family: "Host Grotesk", sans-serif;
    font-size: 16px;
    padding-left: 44px;
    padding-bottom: 40px;
    font-weight: 400;
    line-height: 150%;
}

.hero-btn{
    background-color: #E8BA2E;
    font-family: "Host Grotesk", sans-serif;
    width: 207px;
    height: 56px;
    margin-left: 44px;
    border-radius: 10px;
    font-weight: 600px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
